@model MWCF_Shop.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container">
            <h2 style="text-align:center;">Xác nhận thông tin xóa</h2>

      
            <div>
               
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TenKH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenKH)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiachiKH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiachiKH)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DienThoaiKH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DienThoaiKH)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenDN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenDN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MatKhau)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MatKhau)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgaySinh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgaySinh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GioiTinh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GioiTinh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>



                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                        <a href="@Url.Action("Index","Quanlykhachhang")" class="btn btn-success" role="button">Trở về</a>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
