@model IEnumerable<MWCF_Shop.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container">
            <h2 style="text-align:center;">Quản lý thông tin khách hàng </h2>

            <p>
                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table">
                <tr>
                   <th>Tên khách hàng</th>
                   <th>Địa chỉ</th>
                   <th>Điện thoại</th>
                   <th>Tên đăng nhập</th>
                   <th>Mật khẩu</th>
                   <th>Ngày sinh</th>
                   <th>Giới tính</th>
                   <th>Email</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiachiKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DienThoaiKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatKhau)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GioiTinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit", new { id = item.MaKH })" class="btn btn-warning" role="button">Cập nhật</a>
                            <hr />
                            <a href="@Url.Action("Details",new {id=item.MaKH})" class="btn btn-success" role="button">Chi tiết</a>
                            <hr />
                            <button onclick="return confirm('Bạn muốn xóa danh mục này?')" type="button" class="btn btn-danger">
                                <a>
                                    @Html.ActionLink("Xóa", "DeleteConfirmed", new { id = item.MaKH })
                                </a>
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</div>
<style>
    a {
        color: rgb(255 255 255 / 80%);
        text-decoration: none;
        background-color: transparent;
    }
</style>