@model MWCF_Shop.Models.DANHMUC_SP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container">
            <h2 style="text-align:center;">Thêm mới danh mục sản phẩm</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                  
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        Mã danh mục
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaDM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaDM, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Tên danh mục
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenDM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenDM, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm mới" class="btn btn-success" />
                            <a href="@Url.Action("Index","Quanlydanhmuc")" class="btn btn-success" role="button">Trở về</a>
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </section>
</div>
