@model IEnumerable<MWCF_Shop.Models.DANHMUC_SP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container">
            <h2 style="text-align:center;">Quản lý danh mục sản phẩm</h2>

            <p>
                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table" style="width:50%;">
                <tr>
                    <th>
                        Tên danh mục
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDM)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.MaDM })" class="btn btn-warning" role="button">Cập nhật</a>

                            <a href="@Url.Action("Details",new {id=item.MaDM})" class="btn btn-success" role="button">Chi tiết</a>

                            <button onclick="return confirm('Bạn muốn xóa danh mục này?')" type="button" class="btn btn-danger">
                                <a>
                                    @Html.ActionLink("Xóa", "DeleteConfirmed", new { id = item.MaDM })
                                </a>
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</div>
<style>


    a {
        color: rgb(255 255 255 / 80%);
        text-decoration: none;
        background-color: transparent;
    }
</style>