@using MWCF_Shop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<MWCF_Shop.Models.SANPHAM>

<main>

    <!--? Hero Area Start-->
    <div class="container-fluid">
        <div class="slider-area">
            <div class="slider-active dot-style">
                <!-- Single -->
                <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>THÊM YÊU<br>VẺ ĐẸP<br>CỦA CHÍNH MÌNH</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>DÙ TỐT HAY XẤU<br>HÃY LÀ CHÍNH BẠN</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single -->
                <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <!-- Hero Caption -->
                                <div class="hero__caption">
                                    <h1>TỰ TIN<br>THỂ HIỆN</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero -->
    <!--? Popular Items Start -->
    <div class="popular-items pt-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="popular-img">
                            <img src="~/assets/img/gallery/popular1.png" alt="">
                            <div class="img-cap">
                                <span>QUẦN VÀ ÁO</span>
                            </div>
                            <div class="favorit-items">
                                <a href="~/HOME/Trang_QA/?id=1" class="btn">XEM NGAY</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="~/assets/img/gallery/popular2.png" alt="">
                            <div class="img-cap">
                                <span>PHỤ KIỆN</span>
                            </div>
                            <div class="favorit-items">
                                <a href="~/HOME/Trang_PK/?id=2" class="btn">XEM NGAY</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="popular-img">
                            <img src="~/assets/img/gallery/popular3.png" alt="">
                            <div class="img-cap">
                                <span>GIÀY & DÉP</span>
                            </div>
                            <div class="favorit-items">
                                <a href="~/HOME/Trang_GD/?id=3" class="btn">XEM NGAY  </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    <!--? New Arrival Start -->
    <div class="new-arrival">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <h2>SẢN PHẨM<br>MỚI</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                @foreach (var product in Model)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <a href="@Url.Action("Chitietsanpham","HOME",new { id= product.MaSP,id1= product.MaLoai})">
                                    <div class="popular-product ">
                                        <div class="single-product mb-50">
                                            <div class="location-img">

                                                <img src="~/assets/img/gallery/@product.Hinh" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="favorit-items">
                                    <a href="@Url.Action("ThemGioHang","Giohang" ,new { ms=product.MaSP, url=Request.Url.ToString()})">

                                        <img src="~/assets/img/gallery/favorit-card.png" alt="">
                                    </a>
                                </div>
                                <div class="favorit-items-new">


                                    <img src="~/assets/img/gallery/new-icon.png" />

                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a href="@Url.Action("Chitietsanpham","HOME",new { id= product.MaSP ,id1= product.MaLoai})">@product.TenSp</a></h3>
                                <div class="rating mb-10">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span>@product.DonGia VNĐ</span>
                            </div>
                        </div>
                    </div>
                }




            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn">
                    <div class="MenuTrang">

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { id = 1, page = page }))

                    </div>
                </div>
            </div>
        </div>

        <!--? New Arrival End -->
        <!-- End collection -->
        @*Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount*@


        <!--? Popular Locations Start 01-->
        <div class="popular-product pt-50">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-product mb-50">
                            <div class="location-img">
                                <img src="~/assets/img/gallery/popular-imtes1.png" alt="">
                            </div>
                            <div class="location-details">
                                <p><a href="product_details.html">7 mẹo diện đồ hack dáng tuyệt đối lại chẳng bao giờ bị lỗi mốt</a></p>
                                <a href="product_details.html" class="btn">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-product mb-50">
                            <div class="location-img">
                                <img src="~/assets/img/gallery/popular-itmes.png" alt="">
                            </div>
                            <div class="location-details">
                                <p><a href="product_details.html">Đâu chỉ hợp với váy áo nữ tính, Midu diện suit cũng sành điệu và phong cách chẳng kém ai</a></p>
                                <a href="product_details.html" class="btn">Đọc thêm</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Popular Locations End -->
        <!--? Services Area Start -->
        <div class="categories-area section-padding40 gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="~/assets/img/icon/services1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Miễn phí vận chuyển cho mọi đơn hàng</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="~/assets/img/icon/services2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Thanh toán an toàn</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="cat-icon">
                                <img src="~/assets/img/icon/services3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Cam kết hàng chính hãng</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="cat-icon">
                                <img src="~/assets/img/icon/services4.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Giao hàng trong 24h</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Services Area End -->
</main>

<style type="text/css ">
    .new-arrival .single-new-arrival .popular-img .favorit-items-new {
        position: absolute;
        top: 0px;
        right: 220px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        transform: scale(1);
        cursor: pointe;
    }
</style>